---
import BookMiniIcon from '@component/icons/BookMiniIcon.astro'
import RigthArrowMicroIcon from '../components/icons/RigthArrowMicroIcon.astro'
import HoverableIcon from '../components/ui/HoverableIcon.astro'
import MobileAsideMenu from './MobileAsideMenu.astro'
import PencilMiniIcon from '@component/icons/PencilMiniIcon.astro'

interface Props {
  temas: { value: string; href: string; active: boolean }[]
  ejercicios: { value: string; href: string; active: boolean }[]
  headers?: string[]
}

const { ejercicios, temas, headers = [] } = Astro.props
---

<input id='zen-mode' type='checkbox' hidden />
<label
  for='zen-mode'
  class='fixed bottom-0 left-0 z-40 m-24 hidden cursor-pointer rounded-full bg-secondary p-2 transition hover:-translate-y-1 active:bg-accent xl:inline-block'
>
  zen
</label>
<aside
  class='temas-aside pointer-events-none fixed left-0 hidden h-full w-full grid-cols-[1fr_805px_1fr] xl:grid'
>
  <section class='pointer-events-auto flex flex-col items-end gap-12 pr-8'>
    <article class='flex w-full flex-col'>
      <header class='pl-48'>Temas</header>
      <nav class='[&>:last-child]:border-b'>
        {
          temas.map((tema) => (
            <a
              href={tema.href}
              data-selected={tema === tema ? 'true' : 'false'}
              class={`group flex w-full items-center justify-end gap-2 rounded-r-lg py-2 pr-4 text-sm capitalize no-underline transition-colors hover:bg-secondary ${tema.active ? 'bg-accent' : 'border border-b-0 border-l-0 border-dashed border-border'}`}
            >
              {tema.value}
              <HoverableIcon>
                <RigthArrowMicroIcon />
              </HoverableIcon>
            </a>
          ))
        }
      </nav>
    </article>
    {
      ejercicios.length ? (
        <article class='flex w-full flex-col'>
          <header class='pl-48'>Ejercicios</header>
          <nav class='[&>:last-child]:border-b'>
            {ejercicios.map((ejercicio) => (
              <a
                href={ejercicio.href}
                class={`group flex w-full items-center justify-end gap-2 rounded-r-lg py-2 pr-4 text-sm capitalize no-underline transition-colors hover:bg-secondary ${ejercicio.active ? 'bg-accent' : 'border border-b-0 border-l-0 border-dashed border-border'}`}
              >
                {ejercicio.value}
                <HoverableIcon>
                  <RigthArrowMicroIcon />
                </HoverableIcon>
              </a>
            ))}
          </nav>
        </article>
      ) : null
    }
  </section>
  <div
    data-blurred-mask
    class='z-50 -translate-y-32 backdrop-blur-sm [mask-image:linear-gradient(transparent_80%,black_100%)]'
  >
  </div>
  <section class=''>
    <ul class='pointer-events-auto flex list-none flex-col'>
      {
        headers?.map((header) => (
          <button
            data-go-to-header
            class='px-2 py-2 text-start text-xs transition hover:bg-accent'
          >
            {header}
          </button>
        ))
      }
    </ul>
  </section>
</aside>

<MobileAsideMenu>
  {
    headers.length > 0 ? (
      <section>
        <p class='flex items-center gap-2 px-4 font-bold capitalize text-primary'>
          <span class='rounded-md border border-border p-1'>
            <BookMiniIcon />
          </span>
          temas
        </p>
        <nav class='flex flex-col [&>:last-child]:border-b'>
          {headers?.map((header) => (
            <button
              data-go-to-header
              popovertarget='drawer-menu'
              class={`group flex w-full items-center gap-2 border border-b-0 border-l-0 border-r-0 border-dashed border-border p-2 px-4 text-sm capitalize text-primary no-underline transition-colors hover:bg-secondary`}
            >
              {header}
            </button>
          ))}
        </nav>
      </section>
    ) : null
  }
  <section>
    <p class='flex items-center gap-2 px-4 font-bold capitalize text-primary'>
      <span class='rounded-md border border-border p-1'>
        <PencilMiniIcon />
      </span>
      ejericios
    </p>
    <nav class='flex flex-col [&>:last-child]:border-b'>
      {
        ejercicios.map((ejercicio) => (
          <a
            href={ejercicio.href}
            class={`group flex w-full items-center gap-2 p-2 px-4 text-sm capitalize no-underline transition-colors hover:bg-secondary ${ejercicio.active ? 'bg-accent' : 'border border-b-0 border-l-0 border-r-0 border-dashed border-border'}`}
          >
            {ejercicio.value}
            <HoverableIcon>
              <RigthArrowMicroIcon />
            </HoverableIcon>
          </a>
        ))
      }
    </nav>
  </section>
</MobileAsideMenu>

<script>
  document.addEventListener('astro:page-load', () => {
    const $buttons = document.querySelectorAll('[data-go-to-header]')

    $buttons.forEach((button) => {
      button.addEventListener('click', () => {
        goToHeader(button.textContent!)
      })
    })

    function goToHeader(value: string) {
      const headers = document.querySelectorAll('h2')

      let clickedHeader: HTMLHeadingElement | null = null
      headers.forEach((header) => {
        if (
          header.innerText
            ?.replace(/[^a-zA-Z0-9\s.]/g, '')
            .trim()
            .toLowerCase() === value.trim().toLowerCase()
        ) {
          clickedHeader = header
        }
      })
      clickedHeader!.classList.add('header-clicked')
      clickedHeader!.addEventListener('animationend', () => {
        clickedHeader!.classList.remove('header-clicked')
      })
      const { y } = clickedHeader!.getBoundingClientRect()
      window.scroll({ top: y + window.scrollY - 140 })
    }
  })
</script>
